@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: #000000;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Шрифты */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat_bold.eot");
  src: local("☺"), url("../fonts/montserrat_bold.woff") format("woff"), url("../fonts/montserrat_bold.ttf") format("truetype"), url("../fonts/montserrat_bold.svg") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.eot");
  src: local("☺"), url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.ttf") format("truetype"), url("../fonts/NotoSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirNextLTPro-MediumCn.eot");
  src: local("☺"), url("fonts/AvenirNextLTPro-MediumCn.woff") format("woff"), url("fonts/AvenirNextLTPro-MediumCn.ttf") format("truetype"), url("fonts/AvenirNextLTPro-MediumCn.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("fonts/AvenirNextLTPro-BoldCn.eot");
  src: local("☺"), url("fonts/AvenirNextLTPro-BoldCn.woff") format("woff"), url("fonts/AvenirNextLTPro-BoldCn.ttf") format("truetype"), url("fonts/AvenirNextLTPro-BoldCn.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

/* Шаблоны */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 25px 100px;
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 230px;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 56px;
}

.header__logo {
  margin-right: 8px;
}

.header__notab {
  margin-right: 108px;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.header__platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 75px;
}

.header__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 170px;
}

.header__partner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 80px;
}

.login__icon {
  margin-right: 14px;
}

.login__button {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
}

.platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.platform__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.platform__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 70px;
  color: #ffffff;
  margin-top: 94px;
  margin-bottom: 55px;
  max-width: 643px;
  min-width: 207px;
  margin-right: 48px;
}

.platform__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.platform__subtitle {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  max-width: 380px;
}

.platform__line {
  margin-right: 31px;
  background: rgba(96, 92, 234, 0.5);
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.download__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 70px;
  color: #ffffff;
}

.download__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download__app-store {
  margin-right: 30px;
}

.partner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid rgba(255, 255, 255, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  max-width: 503px;
  height: 312px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 55px;
}

.partner__title {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  color: #ffffff;
  margin-bottom: 30px;
}

.partner__button {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

/* Cookie */
.cookie {
  background: #212834;
  position: fixed;
  bottom: -100%;
  width: 100%;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.cookie.active-cookie {
  bottom: 0;
}

.cookie__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 21px 24px 22px 100px;
}

.cookie__info {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}

.cookie__button a {
  display: block;
  padding: 15px 50px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #ffffff;
  border-radius: 6px;
  text-decoration: none;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #ffffff;
}
